<h2>Summary for <span style="color:red;"><%= @segment.name %></span> segment</h2>

<h3>Datasets Submitted</h3>
<table border="0" class="kv">
  <tr class='header'>
		<th>&nbsp;</th>
		<th>DAG Status</th>
		<th>Running?</th>
		<th>Duration</th>
		<th>Last update</th>
		<th>Outcome</th>
	</tr>
  <% @segment.datasets.each do |dataset| %>
    <tr>
			<% executible_log = Scarcity::DagLog.new(File.join(dataset.directory, 'executibles.log')) %>
      <th><a href="<%= "/segments/#{@segment.name}/#{dataset.data_id}" %>"><%= dataset.data_id %></a></th>
      <td class="<%= dataset.status %>"><%= dataset.status %></td>
			<td class="running_<%= dataset.running? %>"><%= dataset.running? ? 'running' : 'nope' %></td>
			<td class="<%= dataset.status %>"><%= executible_log.duration %></td>
			<%# Note that Condor Logfiles do not include Time Zone (+05:00 for %>
			<%# America/Central'), so we've hacked DateTime.now to pretend to be %>
			<%# the same time. #Kluge %>
			<td class="<%= dataset.status %>"><%= "#{Time.diff(dataset.executible_log.events.last.at.utc, (DateTime.now + DateTime.now.offset).utc, "%H %N")[:diff]} ago" if dataset.running? %></td>
      <td><%= RETURN_CODES.message(dataset.return_value) %></td>
    </tr>
  <% end %>
</table>

<p><a href='/segments'>back to segments</a></p>
